@import './markdown.css';
:root{
  font-family:'Neucha',LXGW WenKai,LXGW WenKai Mono,'Patrick Hand','Patrick Hand SC';
  font-weight: 300;
}

html{
  background: #ffffffa0;
  --bg-point: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4'%3E%3Ccircle fill='%252364748b' cx='2' cy='2' r='.5'/%3E%3C/svg%3E");
  --bg-contrary: #ffffff;
  --bg-contrary-light: #eeeeee;

  --text-contrary: rgba(55, 65, 81, 0.8);
  --geometry-bg:url(/geometry2.png);

}

html.dark{
  background: #121212;
  --bg-point: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4'%3E%3Ccircle fill='%2345454b' cx='2' cy='2' r='.5'/%3E%3C/svg%3E");
  --bg-contrary: #18181b;
  --bg-contrary-light: #38383b;

  --text-contrary: rgba(229, 231, 235, 0.8);
  --geometry-bg: transparent;
}

/* 滚动条 */
::-webkit-scrollbar{
  width:3px;
  height:6px;
  background-color: transparent;
  border-radius: 8px;
}
::-webkit-scrollbar-track-piece{
  width:24px;
  background-color:transparent;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:vertical{
  width:24px;
  height:24px;
  background: rgba(214, 212, 212,0.5);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:horizontal{
  width:24px;
  height:24px;
  background: rgba(214, 212, 212,0.5);
  border-radius: 8px;
}
::-webkit-scrollbar-button{
  display:none;
}
::-webkit-scrollbar-corner{
  display:none;
}
